{% extends 'yurukai/base.html' %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{ object.name }}</div>
    <div class="panel-body">
      <p>エリア: {{ object.area.name }}</p>
      <p>備考: {{ object.note }}</p>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            {% for entry in object.schedule_set.all.0.entry_set.all %}
              <th>{{ entry.is_teacher|yesno:'教える,学ぶ' }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>開催日時</th>
            {% for user in object.schedule_set.all.0.members.all %}
            <th>{{ user.name }}</th>
            {% endfor %}
          </tr>
          {% for schedule in object.schedule_set.all %}
          <tr>
            <td>{{ schedule.start_time }}</td>
            {% for entry in schedule.entry_set.all %}
            <td>{{ entry.is_join|yesno:'✔,✘,?' }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'yurukai:yurukai_join' object.pk %}" class="btn btn-success btn-lg">参加</a>
    </div>
  </div>
</div>
{% endblock %}
