<html>
  <head>
    <meta charset="utf-8">
    <title>YurukaiRegister</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ゆる会</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">ゆる会登録</div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="yurukai_title" class="col-sm-2 control-label">ゆる会名</label>
              <div class="col-sm-10">
                <input id="yurukai_title" type="text" class="form-control" placeholder="初めの第一歩">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">学びたい内容</label>
              <div class="col-sm-10">
                <select id="testSelect" class="form-control">
                  <option>プログラミング</option>
                  <option>Python</option>
                  <option>C++</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">エリア</label>
              <div class="col-sm-10">
                <select id="testSelect" class="form-control">
                  <option>広島</option>
                  <option>呉</option>
                  <option>東広島</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">開催日時</label>
              <div class="col-sm-10">
                <div>開催日 : 開始時刻 ～ 終了時刻</div>
                <table>
                  <tr>
                    <td>
                      <textarea name="" id="schedule" cols="30" rows="10"></textarea>
                    </td>
                    <td>
                      <span id="datepicker"/>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">備考</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="強くなりたいです！">
              </div>
            </div>

            <div class="form-group">
              <span class="col-sm-2"></span>
              <div class="col-sm-10">
                <button type="button" class="btn btn-success">登録</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  <script>
	$(function (){
		$schedule_text = $("#schedule"); 
		$("#datepicker").datepicker({
			minDate: new Date(),
			onSelect: function (dateText, inst){
				$schedule_text.val($schedule_text.val() + dateText + " 19:00 ～\n");
				}
		})
			.datepicker("option", "dateFormat", 'yy-mm-dd')
		;
	});
  </script>
  </body>
</html>
